<?xml version="1.0"?>
<!--
/**
 * @category   SQLI
 * @package    SQLI_CurrencyConverter
 * @author     Abderrahmane MEJDOUBI <amejdoubi@sqli.com>
 * @copyright  Copyright (c) 2016-2017 SQLI, Inc. (http://www.sqli.com)
 * @license    GNU GPL
 */
-->
<config>
    <modules>
        <SQLI_CurrencyConverter>
            <version>0.1.0</version>
        </SQLI_CurrencyConverter>
    </modules>
    <global>
        <models>
            <currencyconverter>
                <class>SQLI_CurrencyConverter_Model</class>
                <resourceModel>currencyconverter_resource</resourceModel>
            </currencyconverter>
            <currencyconverter_resource>
                <class>SQLI_CurrencyConverter_Model_Resource</class>
                <entities>
                    <conversion>
                        <table>sqli_currency_conversion</table>
                    </conversion>
                </entities>
            </currencyconverter_resource>
        </models>
        <resources>
            <currencyconverter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </currencyconverter_write>
            <currencyconverter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </currencyconverter_read>
            <currencyconverter_setup>
                <setup>
                    <module>SQLI_CurrencyConverter</module>
                </setup>
            </currencyconverter_setup>
        </resources>
        <helpers>
            <currencyconverter>
                <class>SQLI_CurrencyConverter_Helper</class>
            </currencyconverter>
        </helpers>
        <blocks>
            <currencyconverter>
                <class>SQLI_CurrencyConverter_Block</class>
            </currencyconverter>
        </blocks>
    </global>
    <frontend>
        <routers>
            <currencyconverter>
                <use>standard</use>
                <args>
                    <module>SQLI_CurrencyConverter</module>
                    <frontName>currency-converter</frontName>
                </args>
            </currencyconverter>
        </routers>
        <layout>
            <updates>
                <currencyconverter>
                    <file>currencyconverter.xml</file>
                </currencyconverter>
            </updates>
        </layout>
        <translate>
            <modules>
                <SQLI_CurrencyConverter>
                    <files>
                        <default>SQLI_CurrencyConverter.csv</default>
                    </files>
                </SQLI_CurrencyConverter>
            </modules>
        </translate>
        <!--<catalog>-->
            <!--<per_page_values>-->
                <!--<grid>9,15,30</grid>-->
                <!--<list>5,10,15,20,25</list>-->
            <!--</per_page_values>-->
        <!--</catalog>-->
        <!--<product>-->
            <!--<collection>-->
                <!--<attributes>-->
                    <!--<name/>-->
                    <!--<url_key/>-->
                    <!--<price/>-->
                    <!--<special_price/>-->
                    <!--<special_from_date/>-->
                    <!--<special_to_date/>-->
                    <!--<short_description/>-->
                    <!--<thumbnail/>-->
                    <!--<small_image/>-->
                    <!--<image_label/>-->
                    <!--<thumbnail_label/>-->
                    <!--<small_image_label/>-->
                    <!--<tax_class_id/>-->
                    <!--<status/>-->
                    <!--<news_from_date/>-->
                    <!--<news_to_date/>-->
                    <!--<created_at/>-->
                    <!--<updated_at/>-->
                <!--</attributes>-->
            <!--</collection>-->
        <!--</product>-->
        <!--<category>-->
            <!--<collection>-->
                <!--<attributes>-->
                    <!--<name/>-->
                    <!--<url_key/>-->
                    <!--<is_active/>-->
                <!--</attributes>-->
            <!--</collection>-->
        <!--</category>-->
    </frontend>
</config>
